
<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="save($event)">
    <mat-form-field>
        <mat-label> Nombre </mat-label>
        <input 
            matInput
            formControlName="name"
            type="text"
        >
        <mat-error *ngIf="nameField.hasError('required')">
            Campo requerido
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label> Email </mat-label>
        <input 
            matInput 
            formControlName="email"
            type="email"
        >
       
        <mat-error *ngIf="emailField.hasError('email')">
            Email no valido
        </mat-error>
        <mat-error *ngIf="emailField.hasError('required')">
            Campo requerido
        </mat-error>
      
    </mat-form-field>
    <mat-form-field>
        <mat-label> Comentario </mat-label>
        <textarea
            matInput
            placeholder="¿Cómo te puedo ayudar?"
            formControlName="comment"
        >
        </textarea>
        <mat-error *ngIf="commentField.hasError('required')">
            Campo requerido
        </mat-error>
    </mat-form-field>

    <button 
        mat-raised-button
        color="primary" 
        type="submit"
        class="main-btn-form"
    > 
        Enviar 
    </button>
</form>