.example-spacer{
    /* This fills the remaining space, by using flexbox.
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.logo-navbar{
    width: 60px;
    height: 50px;
}

.texto-navbar{
    /* Se remueve el underline de la etiqueta a */
    text-decoration: none;
    /* Se remueve el color original de la etiqueta a */
    color: inherit;
}

.sidenav {
    background-color: #009688;   
}

.mat-toolbar{
    /* Para dejar el navbar/toolbar siempre quede fijo en la parte superior de la pantalla */
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.mat-list-item{
    color: white;
}