<footer fxLayout="column">

    <div class="pie-de-pagina" fxLayoutGap="20px">
        <a href="https://www.facebook.com/naydujaramillo" target="_blank">
            <i class="fab fa-facebook-f fa-lg"></i>
        </a>
        <a href="https://www.instagram.com/naydujaramillo/?hl=es-la" target="_blank">
            <i class="fab fa-instagram fa-lg" ></i>
        </a>
        <a href="https://www.youtube.com/channel/UCUDhSKpUBFNlQhrbgUjKeRA" target="_blank">
            <i class="fab fa-youtube fa-lg"></i>
        </a>
    </div>

    <div class="pie-de-pagina-2">
        <!-- <span>© 2020 Copyright:</span> -->
        
        <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a> -->
        <span>© 2020 Copyright: Todos los derechos reservados </span>
    </div>
    
</footer>