.pie-de-pagina{
    background-color: #B2DFDB;
    text-align: center;
    height: 40px;
    /* Código para poner footer en la parte de abajo */
    /* bottom: 0;
    position: fixed;
    width: 100%; */
    /* Para centrar contenido tanto vertical como horizontalmente. Técnica FLEXBOX */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pie-de-pagina-2{
    background-color: #009688;
    font-size: 15px;
    height: 30px;
    /* Para centrar contenido tanto vertical como horizontalmente. Técnica FLEXBOX */
    display: flex;
    align-items: center;
    justify-content: center;    
}

i{
    color: black;
}

@media (max-width: 600px) {
    /* Se usa para la letra del footer en un iphone 5S 320 x 568*/
    .pie-de-pagina-2{
        font-size: 13px;
    }
}

