<footer>

    <div fxLayoutGap="20px">
        <a href="https://www.facebook.com/naydujaramillo" target="_blank">
            <i class="fab fa-facebook-f fa-2x"></i>
        </a>
        <a href="https://www.instagram.com/naydujaramillo/?hl=es-la" target="_blank">
            <i class="fab fa-instagram fa-2x" ></i>
        </a>
        <a href="https://www.youtube.com/channel/UCUDhSKpUBFNlQhrbgUjKeRA" target="_blank">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
    </div>
    <div class="footer2">
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <!-- <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>  -->
        </div>
    </div>
    
</footer>